@{
  Layout = "_Layout";
}

<div class="container">
  @model Registrar.Models.Student


  <h2>Enroll in a course:</h2>
  <hr />
  <h3>Add course to student schedule: @Html.DisplayFor(model => model.StudentName)</h3>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StudentId)

    @Html.Label("Enroll in Course")<br>
    @Html.DropDownList("CourseId")<br><br>

    <input type="submit" value="Save"/>
  }
  <br><p>@Html.ActionLink("Back to student list", "Index")</p>
</div>
