@{
  Layout = "_Layout";
}
<div class="container">
  @model Registrar.Models.Student

  <h1>Enroll Student:</h1>
  <hr />
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.StudentName)<br>
    @Html.TextBoxFor(model => model.StudentName)<br><br>

    @Html.LabelFor(model => model.EnrollmentDate)<br>
    @Html.TextBoxFor(model => model.EnrollmentDate, new {type="date"} )<br><br>

    @Html.Label("Enroll in Course")<br>
    @Html.DropDownList("CourseId")<br>

    <br><input type="submit" value="Enroll" class="btn btn-default"/>
  }
  <br><p>@Html.ActionLink("Show Enrollments", "Index")</p>
</div>