@{
  Layout = "_Layout";
}
<div class="container">
  @model Registrar.Models.Student

  <h2>Student Details</h2>
  <hr />
  <h4>Name: @Html.DisplayFor(model => model.StudentName)<h4>
  <h4>Enrollment Date: @Html.DisplayFor(model => model.EnrollmentDate)<h4>
  @if(@Model.Courses.Count == 0)
  {
    <h3>This student is not enrolled in any classes.</h3>
  }
  else
  {
    <h3>Courses Currently Enrolled:</h3>
    <ul>
      @foreach (var join in Model.Courses)
      {
        <li>@join.Course.CourseName, @join.Course.CourseNumber</li>
        @using (Html.BeginForm("DeleteCourse", "Students"))
        {
          @Html.Hidden("joinId", @join.CourseStudentId)
          <input type="submit" value="Delete"/>
        }
      }
    </ul>
  }
  <br><h4>@Html.ActionLink("Back to list", "Index")</h4>
  <h4>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</h4>
  <h4>@Html.ActionLink("Unenroll Student", "Delete", new { id = Model.StudentId })</h4>
  <h4>@Html.ActionLink("Add a Course", "AddCourse", new { id = Model.StudentId })</h4>
</div>