@{
  Layout = "_Layout";
}
<div class="container">
  @model Registrar.Models.Course

  <h2>Course Adjustments</h2>
  <hr />
  <h4>Edit Course: @Html.DisplayFor(model => model.CourseName)</h4>

  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.CourseId)

      @Html.LabelFor(model => model.CourseName)<br>
      @Html.EditorFor(model => model.CourseName)<br><br>

      @Html.LabelFor(model => model.CourseNumber)<br>
      @Html.TextBoxFor(model => model.CourseNumber)<br><br>

      <input type="submit" value="Save" />
  }
  <p>@Html.ActionLink("Back to courses", "Index")</p>
</div>